[submodule "logger-service"]
	path = microservices/logger-service
	url = https://github.com/kevin-huet/logger-service.git
[submodule "mailing-service"]
	path = microservices/mailing-service
	url = https://github.com/kevin-huet/mailing-service.git
[submodule "auth-service"]
	path = microservices/auth-service
	url = https://github.com/kevin-huet/auth-service.git
[submodule "storage-service"]
	path = microservices/storage-service
	url = https://github.com/kevin-huet/storage-service.git
[submodule "microservices/--force"]
	path = microservices/--force
	url = git@github.com:kevin-huet/acm-service.git
[submodule "microservices/acm-service"]
	path = microservices/acm-service
	url = git@github.com:kevin-huet/acm-service.git
