[submodule "logger-service"]
	path = microservices/logger-service
	url = https://github.com/kevin-huet/logger-service.git
[submodule "mailing-service"]
	path = microservices/mailing-service
	url = https://github.com/kevin-huet/mailing-service.git
[submodule "auth-service"]
	path = microservices/auth-service
	url = https://github.com/kevin-huet/auth-service.git
[submodule "storage-service"]
	path = microservices/storage-service
	url = https://github.com/kevin-huet/storage-service.git
